/* General */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  background-image: url("https://media.giphy.com/media/3o72FeJnjfZZ31WjBu/giphy.gif");
  background-position: center;

  background-repeat: no-repeat;
  background-size: cover;
  /* GIF A GRANDE RICHIEDA DI LORENZO ^_^, mi dispiace ma non ho trovato niente id gioca jouer*/
}

main{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 95px);
}

/* utility */
.flex{
  display: flex;
}

.center{
  justify-content: center;
}

.c_center{
  align-items: center;
}

.hidden{
  visibility: hidden;
}

.show{
  visibility: visible;
}

.btn{
  padding: 5px;
  margin: 0 5px;
}




/* header */
#head_nav {
  background:#050102;
  min-height: 95px;
}

#head_nav img{
  width: 200px;
}

/* Main */
.container{
  width: 550px;
  height: 550px;
  border-radius: 50%;
  background: #110506;
  border: 1px solid white;
  flex-direction: column;
  position: relative;
  color: #FBD6D6;
}

.container h1{
  position: absolute;
  top: 0;
  background: #110506;
  border-radius: 10px;
  border: 1px solid white;
  padding: 5px 15px;
  
}

#email {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  position: absolute;
}

#email .col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  text-align: center;
}

#email .col input{
  padding: 10px;
  width: 75%;
  border: 3px solid #FBD6D6; 
  background: white; 

}

.row{
  position: absolute;
  bottom: 30px;
}

#dadi {
  text-align: center;
}

.meplay,
.pcplay{
  text-align: center;
  margin: 0 5px;

}

#dadi h4{
  font-size: 50px;
  color: white;
}




